/* Small  */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (max-width: 776px) {
    .header .logo {
        width: 100%;
        height: 50px;
    }

    .header .main-nav {
        margin: auto;
    }

    .header .main-nav>li>a {
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }

    .features .box .img-holder::after {
        bottom: -1px;
        right: -2px;
    }

    /* Games Icon "TEAMS" For Mobile  */
    .team .box .data img {
        width: calc(100% - 40px);
    }
    .team .box::before {
        width: calc(100%);
    }
    .team .box .info {
        padding-right: 60px;
        padding-left: 0;
    }
    .team .box .info h3 {
        text-align: center;
    }
    .team .box .info p {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .landing .text h1 {
        font-size: 28px;
    }

    .landing .text p {
        font-size: 18px;
    }

    .header .mega-menu {
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }

    .header .mega-menu .links li {
        border-bottom: 1px solid #E9E6E6;
    }

    .events .subscribe form {
        max-width: 100%;
        padding: 20px;
        flex-direction: column;
        border-radius: 0;
        background-color: #F6F5F5;
    }
    .events .subscribe form input[type="email"] {
        border-radius: 0;
    }
    .events .subscribe form input[type="submit"] {
        border-radius: 0;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (max-width: 991px) {
    .landing .image {
        display: none;
    }
    .landing .text {
        text-align: center;
    }
    .landing .text p {
        margin: 10px auto;
    }

    .header .mega-menu .image {
        display: none;
    }

    .our-skills img {
        display: none;
    }
    .work-steps .container {
        flex-direction: column;
    }
    .work-steps .image {
        margin: 0 0 50px;
    }
    .work-steps .info .box {
        flex-direction: column;
        text-align: center;
    }
    .work-steps .info .box img {
        margin: 0 0 30px;
    }

    .events img {
        display: none;
    }

    .videos .holder {
        flex-direction: column;
    }

    .discount .image {
        flex-basis: 100%;
    }
    .discount .form {
        flex-basis: 100%;
    }
}

/* Large  */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }

    .pricing .box.popular {
        top: -20px;
    }
}